/GestAchats/GestAchats-ejb/target/
/GestAchats/GestAchats-web/target/
/GestAchats/GestAchats-ear/target/
/GestAffaire/GestAffaire-ejb/target/
/GestAffaire/GestAffaire-web/target/
/GestAffaire/GestAffaire-ear/target/
/SharedAffaire/target/